<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* 代码为自动生成 Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
*  欢迎加入官方QQ群:323237052
-->
<mapper namespace="com.hw.competition.service.competitioninfo.mapper.CompetitionInfoMapper">
    <!-- CompetitionInfo -->
    <resultMap id="resultMap" type="CompetitionInfo">
                <id column="competition_info_id" property="competitionInfoId"/>
                <result column="competition_name" property="competitionName" />
                <result column="competition_user" property="competitionUser" />
                <result column="status" property="status" />
                <result column="nature" property="nature" />
                <result column="maxnum" property="maxnum" />
                <result column="competition_type" property="competitionType" />
    </resultMap>
    <!-- 查询单个实体 -->
    <select id="getModel" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!--根据主键 查询单个实体 -->
    <select id="getModelByPk" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  <include refid="magicalcoderPkWhereSql"/>
    </select>
    <!-- 查询一组实体 -->
    <select id="getModelList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体 in 语句-->
    <select id="getModelInList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where  `competition_info_id` in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">#{id}</foreach>
        <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体的数量 -->
    <select id="getModelListCount" parameterType="hashmap" resultType="int">
        select count(1)  from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 插入单个实体 遇到入参null转换成数据库NULL-->
    <insert id="insertModel" parameterType="CompetitionInfo"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        insert into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库NULL-->
    <insert id="replaceModel" parameterType="CompetitionInfo"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        replace into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 插入单个实体 遇到入参null转换成数据库默认值-->
    <insert id="insertModelWithoutNull" parameterType="CompetitionInfo"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        insert into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库默认值-->
    <insert id="replaceModelWithoutNull" parameterType="CompetitionInfo"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        replace into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 批量插入一组实体 -->
    <insert id="batchInsertModel" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="competitionInfoId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <!-- 批量替换一组实体 -->
    <insert id="batchReplaceModel" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <insert id="batchInsertModelWithoutNull" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="competitionInfoId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>
    <insert id="batchReplaceModelWithoutNull" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="competitionInfoId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>

        <!-- 清空表 操作危险 慎用，暂时注销掉-->
    <delete id="truncateModel">
        -- truncate table <include refid="tableSql"/>
    </delete>

    <!-- 根据主键删除一个实体 magicalCoderPrimaryKeyName 框架封装-->
    <delete id="deleteModelByPk" parameterType="hashmap">
        delete from <include refid="tableSql"/> <include refid="magicalcoderPkWhereSql"/>
    </delete>

    <delete id="deleteModelList" parameterType="hashmap">
        delete from <include refid="tableSql"/> where 1=1 <include refid="whereSqlModel"/>
    </delete>

    <!-- 批量删除实体 in 根据主键-->
    <delete id="deleteModelByIds" parameterType="java.util.Set">
        delete from <include refid="tableSql"/> where `competition_info_id` in <foreach item="id" index="index" collection="collection" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <!-- 更新一个实体 -->
    <update id="updateModel" parameterType="CompetitionInfo">
        update <include refid="tableSql"/> <include refid="updateSetSql"/> <include refid="updatePkWhereSql"/>
    </update>
    <!-- 更新一个实体 仅仅当被更新的字段不为空的时候才更新，否则忽略更新-->
    <update id="updateModelWithoutNull" parameterType="CompetitionInfo">
        update <include refid="tableSql"/> <include refid="updateSetWithoutNullSql"/> <include refid="updatePkWhereSql"/>
    </update>
     <!-- 批量更新实体 传入一组实体，分别根据主键作为查询条件-->
    <update id="batchUpdateModel" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <update id="batchUpdateModelWithoutNull" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateWithoutNullSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <!-- sql 片段 -->
   <sql id="selectSqlIgnoreModel">
        <trim suffixOverrides=",">
            <if test="competitionInfoIdIgnore_ == null or !competitionInfoIdIgnore_">`competition_info_id`,</if>
            <if test="competitionNameIgnore_ == null or !competitionNameIgnore_">`competition_name`,</if>
            <if test="competitionUserIgnore_ == null or !competitionUserIgnore_">`competition_user`,</if>
            <if test="statusIgnore_ == null or !statusIgnore_">`status`,</if>
            <if test="natureIgnore_ == null or !natureIgnore_">`nature`,</if>
            <if test="maxnumIgnore_ == null or !maxnumIgnore_">`maxnum`,</if>
            <if test="competitionTypeIgnore_ == null or !competitionTypeIgnore_">`competition_type`</if>
        </trim>
    </sql>
    <sql id="selectSqlNotIgnoreModel">
        <trim suffixOverrides=",">
         <if test="competitionInfoIdNotIgnore_ != null and competitionInfoIdNotIgnore_">`competition_info_id`,</if>
         <if test="competitionNameNotIgnore_ != null and competitionNameNotIgnore_">`competition_name`,</if>
         <if test="competitionUserNotIgnore_ != null and competitionUserNotIgnore_">`competition_user`,</if>
         <if test="statusNotIgnore_ != null and statusNotIgnore_">`status`,</if>
         <if test="natureNotIgnore_ != null and natureNotIgnore_">`nature`,</if>
         <if test="maxnumNotIgnore_ != null and maxnumNotIgnore_">`maxnum`,</if>
         <if test="competitionTypeNotIgnore_ != null and competitionTypeNotIgnore_">`competition_type`</if>
        </trim>
    </sql>
    <sql id="douFieldSql">
        <trim suffixOverrides=",">
            <if test="competitionInfoId!=null">`competition_info_id`,</if> `competition_name`,`competition_user`,`status`,`nature`,`maxnum`,`competition_type`,
        </trim>
    </sql>
    <sql id="douValueSql">
        <trim suffixOverrides=",">
                <choose><when test="competitionInfoId!=null">#{competitionInfoId},</when></choose>
                <choose><when test="competitionName!=null">#{competitionName},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="competitionUser!=null">#{competitionUser},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="status!=null">#{status},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="nature!=null">#{nature},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="maxnum!=null">#{maxnum},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="competitionType!=null">#{competitionType},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>

    <sql id="douFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="competitionInfoId!=null">`competition_info_id`,</if>
                <if test="competitionName!=null">`competition_name`,</if>
                <if test="competitionUser!=null">`competition_user`,</if>
                <if test="status!=null">`status`,</if>
                <if test="nature!=null">`nature`,</if>
                <if test="maxnum!=null">`maxnum`,</if>
                <if test="competitionType!=null">`competition_type`,</if>

        </trim>
    </sql>
    <sql id="douValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="competitionInfoId!=null">#{competitionInfoId},</when></choose>
                <choose><when test="competitionName!=null">#{competitionName},</when></choose>
                <choose><when test="competitionUser!=null">#{competitionUser},</when></choose>
                <choose><when test="status!=null">#{status},</when></choose>
                <choose><when test="nature!=null">#{nature},</when></choose>
                <choose><when test="maxnum!=null">#{maxnum},</when></choose>
                <choose><when test="competitionType!=null">#{competitionType},</when></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldSql">
        <trim suffixOverrides=",">
                <if test="item.competitionInfoId!=null">`competition_info_id`,</if> `competition_name`,`competition_user`,`status`,`nature`,`maxnum`,`competition_type`,
        </trim>
    </sql>
    <sql id="batchDouValueSql">
        <trim suffixOverrides=",">
                <choose><when test="item.competitionInfoId!=null">#{item.competitionInfoId},</when></choose>
                <choose><when test="item.competitionName!=null">#{item.competitionName},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.competitionUser!=null">#{item.competitionUser},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.status!=null">#{item.status},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.nature!=null">#{item.nature},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.maxnum!=null">#{item.maxnum},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.competitionType!=null">#{item.competitionType},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="item.competitionInfoId!=null">`competition_info_id`,</if>
                <if test="item.competitionName!=null">`competition_name`,</if>
                <if test="item.competitionUser!=null">`competition_user`,</if>
                <if test="item.status!=null">`status`,</if>
                <if test="item.nature!=null">`nature`,</if>
                <if test="item.maxnum!=null">`maxnum`,</if>
                <if test="item.competitionType!=null">`competition_type`,</if>

        </trim>
    </sql>
    <sql id="batchDouValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.competitionInfoId!=null">#{item.competitionInfoId},</when></choose>
                <choose><when test="item.competitionName!=null">#{item.competitionName},</when></choose>
                <choose><when test="item.competitionUser!=null">#{item.competitionUser},</when></choose>
                <choose><when test="item.status!=null">#{item.status},</when></choose>
                <choose><when test="item.nature!=null">#{item.nature},</when></choose>
                <choose><when test="item.maxnum!=null">#{item.maxnum},</when></choose>
                <choose><when test="item.competitionType!=null">#{item.competitionType},</when></choose>
        </trim>
    </sql>
    <sql id="updateSetSql">
        <set>
                    <choose> <when test="competitionName!=null">`competition_name`=#{competitionName}</when> <otherwise> `competition_name`=NULL</otherwise> </choose>,
                    <choose> <when test="competitionUser!=null">`competition_user`=#{competitionUser}</when> <otherwise> `competition_user`=NULL</otherwise> </choose>,
                    <choose> <when test="status!=null">`status`=#{status}</when> <otherwise> `status`=NULL</otherwise> </choose>,
                    <choose> <when test="nature!=null">`nature`=#{nature}</when> <otherwise> `nature`=NULL</otherwise> </choose>,
                    <choose> <when test="maxnum!=null">`maxnum`=#{maxnum}</when> <otherwise> `maxnum`=NULL</otherwise> </choose>,
                    <choose> <when test="competitionType!=null">`competition_type`=#{competitionType}</when> <otherwise> `competition_type`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="updateSetWithoutNullSql">
        <set>
                    <choose><when test="competitionName!=null">`competition_name`=#{competitionName},</when></choose>
                    <choose><when test="competitionUser!=null">`competition_user`=#{competitionUser},</when></choose>
                    <choose><when test="status!=null">`status`=#{status},</when></choose>
                    <choose><when test="nature!=null">`nature`=#{nature},</when></choose>
                    <choose><when test="maxnum!=null">`maxnum`=#{maxnum},</when></choose>
                    <choose><when test="competitionType!=null">`competition_type`=#{competitionType},</when></choose>
        </set>
    </sql>
    <sql id="magicalcoderPkWhereSql">
        where 1=1
            and `competition_info_id` = #{magicalCoderPrimaryKeyName}
    </sql>
    <sql id="updatePkWhereSql">
        where 1=1
            and `competition_info_id` = #{competitionInfoId}
    </sql>
    <sql id="batchUpdateSetSql">
        <set>
                    <choose> <when test="item.competitionName!=null">`competition_name`=#{item.competitionName}</when> <otherwise> `competition_name`=NULL</otherwise> </choose>,
                    <choose> <when test="item.competitionUser!=null">`competition_user`=#{item.competitionUser}</when> <otherwise> `competition_user`=NULL</otherwise> </choose>,
                    <choose> <when test="item.status!=null">`status`=#{item.status}</when> <otherwise> `status`=NULL</otherwise> </choose>,
                    <choose> <when test="item.nature!=null">`nature`=#{item.nature}</when> <otherwise> `nature`=NULL</otherwise> </choose>,
                    <choose> <when test="item.maxnum!=null">`maxnum`=#{item.maxnum}</when> <otherwise> `maxnum`=NULL</otherwise> </choose>,
                    <choose> <when test="item.competitionType!=null">`competition_type`=#{item.competitionType}</when> <otherwise> `competition_type`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="batchUpdateWithoutNullSetSql">
        <set>
                    <choose> <when test="item.competitionName!=null">`competition_name`=#{item.competitionName},</when></choose>
                    <choose> <when test="item.competitionUser!=null">`competition_user`=#{item.competitionUser},</when></choose>
                    <choose> <when test="item.status!=null">`status`=#{item.status},</when></choose>
                    <choose> <when test="item.nature!=null">`nature`=#{item.nature},</when></choose>
                    <choose> <when test="item.maxnum!=null">`maxnum`=#{item.maxnum},</when></choose>
                    <choose> <when test="item.competitionType!=null">`competition_type`=#{item.competitionType},</when></choose>
        </set>
    </sql>
    <sql id="batchUpdatePkWhereSql">
        where 1=1
            and `competition_info_id` = #{item.competitionInfoId}
    </sql>
    <!-- 这里可以加上数据库名称 方便的切换数据库-->
    <sql id="tableSql">
        competition.competition_info
    </sql>

   <sql id="whereSqlModel">
        <if test="competitionInfoId!=null "> and `competition_info_id` = #{competitionInfoId}</if>
        <if test="competitionName!=null "> and `competition_name` = #{competitionName}</if>
        <if test="competitionUser!=null "> and `competition_user` = #{competitionUser}</if>
        <if test="status!=null "> and `status` = #{status}</if>
        <if test="nature!=null "> and `nature` = #{nature}</if>
        <if test="maxnum!=null "> and `maxnum` = #{maxnum}</if>
        <if test="competitionType!=null "> and `competition_type` = #{competitionType}</if>
                <if test="competitionInfoIdFirst!=null "> and `competition_info_id` <![CDATA[=]]>
                            #{competitionInfoIdFirst}
                </if>
                <if test="competitionNameFirst!=null "> and `competition_name` <![CDATA[=]]>
                            #{competitionNameFirst}
                </if>
                <if test="competitionUserFirst!=null "> and `competition_user` <![CDATA[=]]>
                            #{competitionUserFirst}
                </if>
                <if test="statusFirst!=null "> and `status` <![CDATA[=]]>
                            #{statusFirst}
                </if>
                <if test="natureFirst!=null "> and `nature` <![CDATA[=]]>
                            #{natureFirst}
                </if>
                <if test="maxnumFirst!=null "> and `maxnum` <![CDATA[=]]>
                            #{maxnumFirst}
                </if>
                <if test="competitionTypeFirst!=null "> and `competition_type` <![CDATA[=]]>
                            #{competitionTypeFirst}
                </if>
        <!--<if test="whereSql!=null"> ${whereSql}</if>-->
    </sql>

    <sql id="safeGroupBy">
        <if test="safeGroupBy!=null and safeGroupBy!=''">
            group by
            <choose>
                <when test="safeGroupBy != null and safeGroupBy == 'competition_info_id'">  `competition_info_id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'competition_name'">  `competition_name` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'competition_user'">  `competition_user` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'status'">  `status` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'nature'">  `nature` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'maxnum'">  `maxnum` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'competition_type'">  `competition_type` </when>
            </choose>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="safeOrderBy!=null and safeOrderBy!=''">
            <choose>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_info_id desc'"> order by  `competition_info_id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_info_id asc'"> order by `competition_info_id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_name desc'"> order by  `competition_name` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_name asc'"> order by `competition_name` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_user desc'"> order by  `competition_user` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_user asc'"> order by `competition_user` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'status desc'"> order by  `status` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'status asc'"> order by `status` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'nature desc'"> order by  `nature` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'nature asc'"> order by `nature` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'maxnum desc'"> order by  `maxnum` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'maxnum asc'"> order by `maxnum` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_type desc'"> order by  `competition_type` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'competition_type asc'"> order by `competition_type` asc </when>
            </choose>
        </if>
    </sql>

    <sql id="orderGroupLimit">
        <include refid="safeGroupBy"/>
        <if test="notSafeGroupBy != null and notSafeGroupBy != ''"> group by ${notSafeGroupBy}</if>
        <include refid="safeOrderBy"/>
        <if test="notSafeOrderBy != null and notSafeOrderBy != ''"> order by ${notSafeOrderBy}</if>
        <if test="limit != null"> LIMIT <if test="start != null">#{start},</if>#{limit} </if>
    </sql>

</mapper>
