
<!--
 联系1778134055@qq.com
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v001/include/head :: commonHead('competition_info编辑')"/>

<body class="childrenBody layui-hide">
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_competitionInfoId">
        <label class="layui-form-label">竞赛唯信息一标识</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="competitionInfoId"  placeholder="竞赛唯信息一标识请保证唯一，如果已存在则会覆盖，如果不填写则新增"/>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_competitionName">
        <label class="layui-form-label">竞赛名称</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="competitionName" placeholder="请输入竞赛名称" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_competitionUser">
        <label class="layui-form-label">竞赛发布者</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="competitionUser" placeholder="请输入竞赛发布者" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_status">
        <label class="layui-form-label">竞赛的审核状态</label>
        <div class="layui-input-block">
            <select name="status" class="layui-input" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  placeholder="竞赛的审核状态">
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_nature">
        <label class="layui-form-label">竞赛性质</label>
        <div class="layui-input-block">
            <select name="nature" class="layui-input" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  placeholder="竞赛性质">
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_maxnum">
        <label class="layui-form-label">最大的参赛人数</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="maxnum" placeholder="请输入最大的参赛人数" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_competitionType">
        <label class="layui-form-label">竞赛类型</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="competitionType" placeholder="请输入竞赛类型" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</button>
            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
        </div>
    </div>
</form>
    <div th:replace="magicalcoder/v001/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/competitioninfo/competitioninfo-edit.js}"></script>
</body>
</html>
