
<!--
 联系1778134055@qq.com
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v001/include/head :: commonHead('competition_production编辑')"/>

<body class="childrenBody layui-hide">
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_productionId">
        <label class="layui-form-label">竞赛作品唯一标识</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="productionId"  placeholder="竞赛作品唯一标识请保证唯一，如果已存在则会覆盖，如果不填写则新增"/>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_productionName">
        <label class="layui-form-label">作品名字</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="productionName" placeholder="请输入作品名字" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_productionSorce">
        <label class="layui-form-label">作品最终得分</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="productionSorce" placeholder="请输入作品最终得分" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12 security_edit_form_param_playerInfo">
        <label class="layui-form-label">作品所属队伍</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="playerInfo" placeholder="请输入作品所属队伍" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</button>
            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
        </div>
    </div>
</form>
    <div th:replace="magicalcoder/v001/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/competitionproduction/competitionproduction-edit.js}"></script>
</body>
</html>
